body {
  font-family: sans-serif;
}

.control-panel {
  width: 25rem;
}

.input-container {
  margin: 1rem;
}

.input-container label,
.input-container input {
  display: block;
  width: 100%;
}

.input-container input {
  font: inherit;
}

.button {
  font: inherit;
  background: #521751;
  color: white;
  border: 1px solid #521751;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0 1rem;
}

.user-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 1rem;
  padding: 0;
}

.user-item {
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 20rem;
}
